<a name="game-{{id}}"></a>
<div class="game card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2"  style="max-width: 100px; margin: auto 0 auto">
            <img src="/img/activity-{{activityType}}.png" class="card-img" alt="Raid" width="100">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title text-danger">{{activityName}}</h5>

                <div class="row">
                    <div class="col-md-2">Platform</div>
                    <div class="col-md-10">
                        <img src="/img/platform-{{platform}}@32.png">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">Date</div>
                    <div class="col-md-10">
                        {{displayDate}} @ {{displayStartTime}} - {{displayEndTime}}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2">Players</div>
                    <div class="col-md-10">
                        <div class="row">
                            {{#each players}}{{#unless isAlternate}}
                                <div class="col-md-4">
                                {{username}} <small class="text-muted" style="margin-right: 10px">({{experience}})</small>
                                </div>
                            {{/unless}}{{/each}}
                        </div>
                    </div>
                </div>

                {{#if hasAlternates}}
                <div class="row">
                    <div class="col-md-2">Alternates</div>
                    <div class="col-md-10">
                        <div class="row">
                            {{#each players}}{{#if isAlternate}}
                                <div class="col-md-4">
                                {{username}} <small class="text-muted" style="margin-right: 10px">({{experience}})</small>
                                </div>
                            {{/if}}{{/each}}
                        </div>
                    </div>
                </div>
                {{/if}}


                <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">

                    {{#if hasJoined}}
                    <button class="btn btn-success" disabled>Confirmed</button>
                    {{else}}
                    {{#unless isFull}}
                    <button class="btn btn-outline-success" onclick="controller.joinGame('{{id}}', this)">
                        Join
                    </button>
                    {{/unless}}                            
                    {{/if}}
                    </div>
                </div>


                <p class="card-text"><small class="text-muted">Last updated {{displayUpdatedOn}}</small></p>
            </div>
        </div>
    </div>
</div>